{% extends 'base.html'%}
{% load static%}
{% block head%}
		<meta name="description" content="Entre em Contato Conosco">
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_contato.css'%}">
		<title>Entre em Contato Conosco | Tecnon</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_contato_mobile.css' %}" media="screen and (max-width: 1000px)">
{% endblock%}
{% block corpo %}
	<!-- Inicio Corpo -->
		<div class="corpo">
            <h1> Entre em Contato </h1>
            <hr>
            <form action="">
                
            </form>
        </div> 
    	<!-- Fim Corpo -->
	

{% endblock %}