{% extends 'base.html'%}
{% load static%}
{% block head%}
		<title>Cadastrar-se</title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_cadastro.css'%}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet_cadastro_mobile.css' %}" media="screen and (max-width: 1000px)">
{% endblock%}
{% block corpo %}
	<!-- Inicio Corpo -->
	<div class="corpo">
		<h1 style="font-weight: bold; font-size: 25px; text-align: center; margin-bottom: 16px;"> Efetuar Cadastro </h1>
		<form method="POST">
			{% csrf_token %}
			{% for field in forms %}
				{{field.label_tag}}
				{{field}}
				{{ field.errors }}
			{% endfor %}
			<button type="submit"> Cadastrar-se</button>
		</form>
	</div>
	<!-- Fim Corpo -->

{% endblock %}